
.vscode
node_modules
build
package-lock.json
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
debug.log
npm-debug.log*
yarn.lock
yarn-debug.log*
yarn-error.log*
.netlify
.env
