beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
filelock==3.8.0
idna==3.4
lxml==4.9.1
protobuf==4.21.7
PySocks==1.7.1
requests==2.28.1
snscrape @ git+https://github.com/JustAnotherArchivist/snscrape.git@786815dd05681e2421cd03aa9acf5ab5c773bce9
soupsieve==2.3.2.post1
urllib3==1.26.12
